version: 2
updates:
- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: daily
    time: "03:00"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: honeycombio/refinery
    versions:
    - 0.15.0
    - 0.16.0
    - 1.0.0
    - 1.1.0
